@font-face{
    font-family:'Candyhome' ;  /* 字体名自定义即可 */
    src:url('/fonts/Candy.ttf'); /* 字体文件路径 */
    font-display : swap;
  }
  
h1#site-title {
    font-family: 'Candyhome', sans-serif;
  }

h1 {
      font-family: 'Candyhome';
      src:url('/fonts/Candy.ttf'); /* 字体文件路径 */
      font-display : swap;
  }

body {
    cursor: url(https://i.loli.net/2021/04/16/Oy5f2akqG7KRZeA.gif), auto;
}

.hide-block>.hide-button.open,
.hide-inline>.hide-button.open {
    display: block
}

a,
button,
img {
    cursor: url(https://i.loli.net/2021/04/16/bueAI24YZhc5QXL.gif), auto
}

#page-header{
    background-color: rgba(255, 255, 255, 0);
    background-image: none!important;
}

.card-announcement-animation{
    color: #fd7649;
}

[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.7)!important;
    }
[data-theme="dark"]
  div#post{
    background: rgba(0, 0, 0, 0.7)!important;
    }

[data-theme="dark"]
    #page-header:before{
        background: rgba(0, 0, 0, 0)!important;
      }
[data-theme="dark"]
    #recent-posts > .recent-post-item{
      background: rgba(0, 0, 0, 0.7)!important;
      }

#waifu-tool span{
  color: #fd7649 !important;
}

.fa-heart::before {
  color: firebrick !important;
}

#aside-content .card-tag-cloud a{
  color:rgb(65, 60, 60)!important
}

#nav #site-name{
  font-family: 'Candyhome';
  src:url('/fonts/Candy.ttf'); /* 字体文件路径 */
  font-display : swap;
}

#recent-posts > .recent-post-item >.recent-post-info > .article-title{
  font-family: 'Candyhome';
  src:url('/fonts/Candy.ttf'); /* 字体文件路径 */
  font-display : swap;
}

.article-sort-title{
  font-family: 'Candyhome';
  src:url('/fonts/Candy.ttf'); /* 字体文件路径 */
  font-display : swap;
  color:rgb(66, 62, 62)
}